//! **************************************************************************
// Written by: Map M.53d on Mon Apr 29 12:03:34 2024
//! **************************************************************************

SCHEMATIC START;
PIN SYS/MEM/Mram_RAM2_pins<12> = BEL "SYS/MEM/Mram_RAM2" PINNAME CLKA;
PIN SYS/MEM/Mram_RAM1_pins<12> = BEL "SYS/MEM/Mram_RAM1" PINNAME CLKA;
PIN SYS/MEM/Mram_RAM3_pins<12> = BEL "SYS/MEM/Mram_RAM3" PINNAME CLKA;
PIN SYS/MEM/Mram_RAM4_pins<12> = BEL "SYS/MEM/Mram_RAM4" PINNAME CLKA;
PIN SYS/MEM/Mram_RAM5_pins<12> = BEL "SYS/MEM/Mram_RAM5" PINNAME CLKA;
PIN SYS/MEM/Mram_RAM6_pins<12> = BEL "SYS/MEM/Mram_RAM6" PINNAME CLKA;
PIN SYS/MEM/Mram_RAM7_pins<12> = BEL "SYS/MEM/Mram_RAM7" PINNAME CLKA;
PIN SYS/MEM/Mram_RAM8_pins<12> = BEL "SYS/MEM/Mram_RAM8" PINNAME CLKA;
TIMEGRP CLK = BEL "SYS/DIS/DP/R_dataout_31" BEL "SYS/DIS/DP/R_dataout_30" BEL
        "SYS/DIS/DP/R_dataout_29" BEL "SYS/DIS/DP/R_dataout_28" BEL
        "SYS/DIS/DP/R_dataout_27" BEL "SYS/DIS/DP/R_dataout_26" BEL
        "SYS/DIS/DP/R_dataout_25" BEL "SYS/DIS/DP/R_dataout_24" BEL
        "SYS/DIS/DP/R_dataout_23" BEL "SYS/DIS/DP/R_dataout_22" BEL
        "SYS/DIS/DP/R_dataout_21" BEL "SYS/DIS/DP/R_dataout_20" BEL
        "SYS/DIS/DP/R_dataout_19" BEL "SYS/DIS/DP/R_dataout_18" BEL
        "SYS/DIS/DP/R_dataout_17" BEL "SYS/DIS/DP/R_dataout_16" BEL
        "SYS/DIS/DP/R_dataout_15" BEL "SYS/DIS/DP/R_dataout_14" BEL
        "SYS/DIS/DP/R_dataout_13" BEL "SYS/DIS/DP/R_dataout_12" BEL
        "SYS/DIS/DP/R_dataout_11" BEL "SYS/DIS/DP/R_dataout_10" BEL
        "SYS/DIS/DP/R_dataout_9" BEL "SYS/DIS/DP/R_dataout_8" BEL
        "SYS/DIS/DP/R_dataout_7" BEL "SYS/DIS/DP/R_dataout_6" BEL
        "SYS/DIS/DP/R_dataout_5" BEL "SYS/DIS/DP/R_dataout_4" BEL
        "SYS/DIS/DP/R_dataout_3" BEL "SYS/DIS/DP/R_dataout_2" BEL
        "SYS/DIS/DP/R_dataout_1" BEL "SYS/DIS/DP/R_dataout_0" BEL
        "SYS/DIS/CTRL/nextstate[1]_dff_8_FSM_FFd1" BEL
        "SYS/DIS/CTRL/nextstate[1]_dff_8_FSM_FFd2" BEL "SYS/MA/CTRL/state" BEL
        "SYS/DEV/DP/R_acc_31" BEL "SYS/DEV/DP/R_acc_30" BEL
        "SYS/DEV/DP/R_acc_29" BEL "SYS/DEV/DP/R_acc_28" BEL
        "SYS/DEV/DP/R_acc_27" BEL "SYS/DEV/DP/R_acc_26" BEL
        "SYS/DEV/DP/R_acc_25" BEL "SYS/DEV/DP/R_acc_24" BEL
        "SYS/DEV/DP/R_acc_23" BEL "SYS/DEV/DP/R_acc_22" BEL
        "SYS/DEV/DP/R_acc_21" BEL "SYS/DEV/DP/R_acc_20" BEL
        "SYS/DEV/DP/R_acc_19" BEL "SYS/DEV/DP/R_acc_18" BEL
        "SYS/DEV/DP/R_acc_17" BEL "SYS/DEV/DP/R_acc_16" BEL
        "SYS/DEV/DP/R_acc_15" BEL "SYS/DEV/DP/R_acc_14" BEL
        "SYS/DEV/DP/R_acc_13" BEL "SYS/DEV/DP/R_acc_12" BEL
        "SYS/DEV/DP/R_acc_11" BEL "SYS/DEV/DP/R_acc_10" BEL
        "SYS/DEV/DP/R_acc_9" BEL "SYS/DEV/DP/R_acc_8" BEL "SYS/DEV/DP/R_acc_7"
        BEL "SYS/DEV/DP/R_acc_6" BEL "SYS/DEV/DP/R_acc_5" BEL
        "SYS/DEV/DP/R_acc_4" BEL "SYS/DEV/DP/R_acc_3" BEL "SYS/DEV/DP/R_acc_2"
        BEL "SYS/DEV/DP/R_acc_1" BEL "SYS/DEV/DP/R_acc_0" BEL
        "SYS/DEV/DP/R_Y_11" BEL "SYS/DEV/DP/R_Y_10" BEL "SYS/DEV/DP/R_Y_9" BEL
        "SYS/DEV/DP/R_Y_8" BEL "SYS/DEV/DP/R_Y_7" BEL "SYS/DEV/DP/R_Y_6" BEL
        "SYS/DEV/DP/R_Y_5" BEL "SYS/DEV/DP/R_Y_4" BEL "SYS/DEV/DP/R_Y_3" BEL
        "SYS/DEV/DP/R_Y_2" BEL "SYS/DEV/DP/R_Y_1" BEL "SYS/DEV/DP/R_Y_0" BEL
        "SYS/DEV/DP/CNT_7" BEL "SYS/DEV/DP/CNT_6" BEL "SYS/DEV/DP/CNT_5" BEL
        "SYS/DEV/DP/CNT_4" BEL "SYS/DEV/DP/CNT_3" BEL "SYS/DEV/DP/CNT_2" BEL
        "SYS/DEV/DP/CNT_1" BEL "SYS/DEV/DP/CNT_0" BEL "SYS/DEV/DP/R_X_11" BEL
        "SYS/DEV/DP/R_X_10" BEL "SYS/DEV/DP/R_X_9" BEL "SYS/DEV/DP/R_X_8" BEL
        "SYS/DEV/DP/R_X_7" BEL "SYS/DEV/DP/R_X_6" BEL "SYS/DEV/DP/R_X_5" BEL
        "SYS/DEV/DP/R_X_4" BEL "SYS/DEV/DP/R_X_3" BEL "SYS/DEV/DP/R_X_2" BEL
        "SYS/DEV/DP/R_X_1" BEL "SYS/DEV/DP/R_X_0" BEL "SYS/DEV/DP/result_31"
        BEL "SYS/DEV/DP/result_30" BEL "SYS/DEV/DP/result_29" BEL
        "SYS/DEV/DP/result_28" BEL "SYS/DEV/DP/result_27" BEL
        "SYS/DEV/DP/result_26" BEL "SYS/DEV/DP/result_25" BEL
        "SYS/DEV/DP/result_24" BEL "SYS/DEV/DP/result_23" BEL
        "SYS/DEV/DP/result_22" BEL "SYS/DEV/DP/result_21" BEL
        "SYS/DEV/DP/result_20" BEL "SYS/DEV/DP/result_19" BEL
        "SYS/DEV/DP/result_18" BEL "SYS/DEV/DP/result_17" BEL
        "SYS/DEV/DP/result_16" BEL "SYS/DEV/DP/result_15" BEL
        "SYS/DEV/DP/result_14" BEL "SYS/DEV/DP/result_13" BEL
        "SYS/DEV/DP/result_12" BEL "SYS/DEV/DP/result_11" BEL
        "SYS/DEV/DP/result_10" BEL "SYS/DEV/DP/result_9" BEL
        "SYS/DEV/DP/result_8" BEL "SYS/DEV/DP/result_7" BEL
        "SYS/DEV/DP/result_6" BEL "SYS/DEV/DP/result_5" BEL
        "SYS/DEV/DP/result_4" BEL "SYS/DEV/DP/result_3" BEL
        "SYS/DEV/DP/result_2" BEL "SYS/DEV/DP/result_1" BEL
        "SYS/DEV/DP/result_0" BEL "SYS/DEV/DP/L_7" BEL "SYS/DEV/DP/L_6" BEL
        "SYS/DEV/DP/L_5" BEL "SYS/DEV/DP/L_4" BEL "SYS/DEV/DP/L_3" BEL
        "SYS/DEV/DP/L_2" BEL "SYS/DEV/DP/L_1" BEL "SYS/DEV/DP/L_0" BEL
        "SYS/DEV/DP/R_D2_31" BEL "SYS/DEV/DP/R_D2_30" BEL "SYS/DEV/DP/R_D2_29"
        BEL "SYS/DEV/DP/R_D2_28" BEL "SYS/DEV/DP/R_D2_27" BEL
        "SYS/DEV/DP/R_D2_26" BEL "SYS/DEV/DP/R_D2_25" BEL "SYS/DEV/DP/R_D2_24"
        BEL "SYS/DEV/DP/R_D2_23" BEL "SYS/DEV/DP/R_D2_22" BEL
        "SYS/DEV/DP/R_D2_21" BEL "SYS/DEV/DP/R_D2_20" BEL "SYS/DEV/DP/R_D2_19"
        BEL "SYS/DEV/DP/R_D2_18" BEL "SYS/DEV/DP/R_D2_17" BEL
        "SYS/DEV/DP/R_D2_16" BEL "SYS/DEV/DP/R_D2_15" BEL "SYS/DEV/DP/R_D2_14"
        BEL "SYS/DEV/DP/R_D2_13" BEL "SYS/DEV/DP/R_D2_12" BEL
        "SYS/DEV/DP/R_D2_11" BEL "SYS/DEV/DP/R_D2_10" BEL "SYS/DEV/DP/R_D2_9"
        BEL "SYS/DEV/DP/R_D2_8" BEL "SYS/DEV/DP/R_D2_7" BEL
        "SYS/DEV/DP/R_D2_6" BEL "SYS/DEV/DP/R_D2_5" BEL "SYS/DEV/DP/R_D2_4"
        BEL "SYS/DEV/DP/R_D2_3" BEL "SYS/DEV/DP/R_D2_2" BEL
        "SYS/DEV/DP/R_D2_1" BEL "SYS/DEV/DP/R_D2_0" BEL "SYS/DEV/DP/R_D1_31"
        BEL "SYS/DEV/DP/R_D1_30" BEL "SYS/DEV/DP/R_D1_29" BEL
        "SYS/DEV/DP/R_D1_28" BEL "SYS/DEV/DP/R_D1_27" BEL "SYS/DEV/DP/R_D1_26"
        BEL "SYS/DEV/DP/R_D1_25" BEL "SYS/DEV/DP/R_D1_24" BEL
        "SYS/DEV/DP/R_D1_23" BEL "SYS/DEV/DP/R_D1_22" BEL "SYS/DEV/DP/R_D1_21"
        BEL "SYS/DEV/DP/R_D1_20" BEL "SYS/DEV/DP/R_D1_19" BEL
        "SYS/DEV/DP/R_D1_18" BEL "SYS/DEV/DP/R_D1_17" BEL "SYS/DEV/DP/R_D1_16"
        BEL "SYS/DEV/DP/R_D1_15" BEL "SYS/DEV/DP/R_D1_14" BEL
        "SYS/DEV/DP/R_D1_13" BEL "SYS/DEV/DP/R_D1_12" BEL "SYS/DEV/DP/R_D1_11"
        BEL "SYS/DEV/DP/R_D1_10" BEL "SYS/DEV/DP/R_D1_9" BEL
        "SYS/DEV/DP/R_D1_8" BEL "SYS/DEV/DP/R_D1_7" BEL "SYS/DEV/DP/R_D1_6"
        BEL "SYS/DEV/DP/R_D1_5" BEL "SYS/DEV/DP/R_D1_4" BEL
        "SYS/DEV/DP/R_D1_3" BEL "SYS/DEV/DP/R_D1_2" BEL "SYS/DEV/DP/R_D1_1"
        BEL "SYS/DEV/DP/R_D1_0" BEL "SYS/DEV/DP/DIV/DP/R_cnt_5" BEL
        "SYS/DEV/DP/DIV/DP/R_cnt_4" BEL "SYS/DEV/DP/DIV/DP/R_cnt_3" BEL
        "SYS/DEV/DP/DIV/DP/R_cnt_2" BEL "SYS/DEV/DP/DIV/DP/R_cnt_1" BEL
        "SYS/DEV/DP/DIV/DP/R_cnt_0" BEL "SYS/DEV/DP/DIV/DP/R_A_62" BEL
        "SYS/DEV/DP/DIV/DP/R_A_61" BEL "SYS/DEV/DP/DIV/DP/R_A_60" BEL
        "SYS/DEV/DP/DIV/DP/R_A_59" BEL "SYS/DEV/DP/DIV/DP/R_A_58" BEL
        "SYS/DEV/DP/DIV/DP/R_A_57" BEL "SYS/DEV/DP/DIV/DP/R_A_56" BEL
        "SYS/DEV/DP/DIV/DP/R_A_55" BEL "SYS/DEV/DP/DIV/DP/R_A_54" BEL
        "SYS/DEV/DP/DIV/DP/R_A_53" BEL "SYS/DEV/DP/DIV/DP/R_A_52" BEL
        "SYS/DEV/DP/DIV/DP/R_A_51" BEL "SYS/DEV/DP/DIV/DP/R_A_50" BEL
        "SYS/DEV/DP/DIV/DP/R_A_49" BEL "SYS/DEV/DP/DIV/DP/R_A_48" BEL
        "SYS/DEV/DP/DIV/DP/R_A_47" BEL "SYS/DEV/DP/DIV/DP/R_A_46" BEL
        "SYS/DEV/DP/DIV/DP/R_A_45" BEL "SYS/DEV/DP/DIV/DP/R_A_44" BEL
        "SYS/DEV/DP/DIV/DP/R_A_43" BEL "SYS/DEV/DP/DIV/DP/R_A_42" BEL
        "SYS/DEV/DP/DIV/DP/R_A_41" BEL "SYS/DEV/DP/DIV/DP/R_A_40" BEL
        "SYS/DEV/DP/DIV/DP/R_A_39" BEL "SYS/DEV/DP/DIV/DP/R_A_38" BEL
        "SYS/DEV/DP/DIV/DP/R_A_37" BEL "SYS/DEV/DP/DIV/DP/R_A_36" BEL
        "SYS/DEV/DP/DIV/DP/R_A_35" BEL "SYS/DEV/DP/DIV/DP/R_A_34" BEL
        "SYS/DEV/DP/DIV/DP/R_A_33" BEL "SYS/DEV/DP/DIV/DP/R_A_32" BEL
        "SYS/DEV/DP/DIV/DP/R_A_31" BEL "SYS/DEV/DP/DIV/DP/R_A_30" BEL
        "SYS/DEV/DP/DIV/DP/R_A_29" BEL "SYS/DEV/DP/DIV/DP/R_A_28" BEL
        "SYS/DEV/DP/DIV/DP/R_A_27" BEL "SYS/DEV/DP/DIV/DP/R_A_26" BEL
        "SYS/DEV/DP/DIV/DP/R_A_25" BEL "SYS/DEV/DP/DIV/DP/R_A_24" BEL
        "SYS/DEV/DP/DIV/DP/R_A_23" BEL "SYS/DEV/DP/DIV/DP/R_A_22" BEL
        "SYS/DEV/DP/DIV/DP/R_A_21" BEL "SYS/DEV/DP/DIV/DP/R_A_20" BEL
        "SYS/DEV/DP/DIV/DP/R_A_19" BEL "SYS/DEV/DP/DIV/DP/R_A_18" BEL
        "SYS/DEV/DP/DIV/DP/R_A_17" BEL "SYS/DEV/DP/DIV/DP/R_A_16" BEL
        "SYS/DEV/DP/DIV/DP/R_A_15" BEL "SYS/DEV/DP/DIV/DP/R_A_14" BEL
        "SYS/DEV/DP/DIV/DP/R_A_13" BEL "SYS/DEV/DP/DIV/DP/R_A_12" BEL
        "SYS/DEV/DP/DIV/DP/R_A_11" BEL "SYS/DEV/DP/DIV/DP/R_A_10" BEL
        "SYS/DEV/DP/DIV/DP/R_A_9" BEL "SYS/DEV/DP/DIV/DP/R_A_8" BEL
        "SYS/DEV/DP/DIV/DP/R_A_7" BEL "SYS/DEV/DP/DIV/DP/R_A_6" BEL
        "SYS/DEV/DP/DIV/DP/R_A_5" BEL "SYS/DEV/DP/DIV/DP/R_A_4" BEL
        "SYS/DEV/DP/DIV/DP/R_A_3" BEL "SYS/DEV/DP/DIV/DP/R_A_2" BEL
        "SYS/DEV/DP/DIV/DP/R_A_1" BEL "SYS/DEV/DP/DIV/DP/R_A_0" BEL
        "SYS/DEV/DP/DIV/DP/R_res_31" BEL "SYS/DEV/DP/DIV/DP/R_res_30" BEL
        "SYS/DEV/DP/DIV/DP/R_res_29" BEL "SYS/DEV/DP/DIV/DP/R_res_28" BEL
        "SYS/DEV/DP/DIV/DP/R_res_27" BEL "SYS/DEV/DP/DIV/DP/R_res_26" BEL
        "SYS/DEV/DP/DIV/DP/R_res_25" BEL "SYS/DEV/DP/DIV/DP/R_res_24" BEL
        "SYS/DEV/DP/DIV/DP/R_res_23" BEL "SYS/DEV/DP/DIV/DP/R_res_22" BEL
        "SYS/DEV/DP/DIV/DP/R_res_21" BEL "SYS/DEV/DP/DIV/DP/R_res_20" BEL
        "SYS/DEV/DP/DIV/DP/R_res_19" BEL "SYS/DEV/DP/DIV/DP/R_res_18" BEL
        "SYS/DEV/DP/DIV/DP/R_res_17" BEL "SYS/DEV/DP/DIV/DP/R_res_16" BEL
        "SYS/DEV/DP/DIV/DP/R_res_15" BEL "SYS/DEV/DP/DIV/DP/R_res_14" BEL
        "SYS/DEV/DP/DIV/DP/R_res_13" BEL "SYS/DEV/DP/DIV/DP/R_res_12" BEL
        "SYS/DEV/DP/DIV/DP/R_res_11" BEL "SYS/DEV/DP/DIV/DP/R_res_10" BEL
        "SYS/DEV/DP/DIV/DP/R_res_9" BEL "SYS/DEV/DP/DIV/DP/R_res_8" BEL
        "SYS/DEV/DP/DIV/DP/R_res_7" BEL "SYS/DEV/DP/DIV/DP/R_res_6" BEL
        "SYS/DEV/DP/DIV/DP/R_res_5" BEL "SYS/DEV/DP/DIV/DP/R_res_4" BEL
        "SYS/DEV/DP/DIV/DP/R_res_3" BEL "SYS/DEV/DP/DIV/DP/R_res_2" BEL
        "SYS/DEV/DP/DIV/DP/R_res_1" BEL "SYS/DEV/DP/DIV/DP/R_res_0" BEL
        "SYS/DEV/DP/DIV/DP/R_B_7" BEL "SYS/DEV/DP/DIV/DP/R_B_6" BEL
        "SYS/DEV/DP/DIV/DP/R_B_5" BEL "SYS/DEV/DP/DIV/DP/R_B_4" BEL
        "SYS/DEV/DP/DIV/DP/R_B_3" BEL "SYS/DEV/DP/DIV/DP/R_B_2" BEL
        "SYS/DEV/DP/DIV/DP/R_B_1" BEL "SYS/DEV/DP/DIV/DP/R_B_0" BEL
        "SYS/DEV/DP/DIV/CTRL/state_FSM_FFd2" BEL
        "SYS/DEV/DP/DIV/CTRL/state_FSM_FFd1" BEL
        "SYS/DEV/CTRL/nextstate[3]_dff_9_FSM_FFd7" BEL
        "SYS/DEV/CTRL/nextstate[3]_dff_9_FSM_FFd8" BEL
        "SYS/DEV/CTRL/nextstate[3]_dff_9_FSM_FFd9" BEL
        "SYS/DEV/CTRL/nextstate[3]_dff_9_FSM_FFd10" BEL
        "SYS/DEV/CTRL/nextstate[3]_dff_9_FSM_FFd4" BEL
        "SYS/DEV/CTRL/nextstate[3]_dff_9_FSM_FFd11" BEL
        "SYS/DEV/CTRL/nextstate[3]_dff_9_FSM_FFd2" BEL
        "SYS/DEV/CTRL/nextstate[3]_dff_9_FSM_FFd3" BEL
        "SYS/DEV/CTRL/nextstate[3]_dff_9_FSM_FFd1" BEL
        "SYS/DEV/CTRL/nextstate[3]_dff_9_FSM_FFd6" BEL
        "SYS/DEV/CTRL/nextstate[3]_dff_9_FSM_FFd12" BEL
        "SYS/DEV/CTRL/nextstate[3]_dff_9_FSM_FFd13" BEL
        "SYS/DEV/CTRL/nextstate[3]_dff_9_FSM_FFd14" BEL
        "SYS/MA/DP/R_address_0" BEL "SYS/MA/DP/R_address_1" BEL
        "SYS/MA/DP/R_address_2" BEL "SYS/MA/DP/R_address_3" BEL
        "SYS/MA/DP/R_address_4" BEL "SYS/MA/DP/R_address_5" BEL
        "SYS/MA/DP/R_address_6" BEL "SYS/MA/DP/R_address_7" BEL
        "SYS/MA/DP/R_address_8" BEL "SYS/MA/DP/R_address_9" BEL
        "SYS/MA/DP/R_address_10" BEL "SYS/MA/DP/R_address_11" BEL
        "SYS/DIS/CTRL/nextstate[1]_dff_8_FSM_FFd1_1" BEL "CLK_BUFGP/BUFG" PIN
        "SYS/MEM/Mram_RAM2_pins<12>" PIN "SYS/MEM/Mram_RAM1_pins<12>" PIN
        "SYS/MEM/Mram_RAM3_pins<12>" PIN "SYS/MEM/Mram_RAM4_pins<12>" PIN
        "SYS/MEM/Mram_RAM5_pins<12>" PIN "SYS/MEM/Mram_RAM6_pins<12>" PIN
        "SYS/MEM/Mram_RAM7_pins<12>" PIN "SYS/MEM/Mram_RAM8_pins<12>" BEL
        "SER/U_00003" BEL "SER/U_00004" BEL "SER/U_00005" BEL "SER/U_00006"
        BEL "SER/U_00007" BEL "SER/U_00008" BEL "SER/U_00009" BEL
        "SER/U_00010" BEL "SER/U_00011" BEL "SER/U_00012" BEL "SER/U_00013"
        BEL "SER/U_00014" BEL "SER/U_00015" BEL "SER/U_00016" BEL
        "SER/U_00017" BEL "SER/U_00018" BEL "SER/U_00019" BEL "SER/U_00020"
        BEL "SER/U_00021" BEL "SER/U_00022" BEL "SER/U_00023" BEL
        "SER/U_00024" BEL "SER/U_00025" BEL "SER/U_00026" BEL "SER/U_00027"
        BEL "SER/U_00028" BEL "SER/U_00029" BEL "SER/U_00030" BEL
        "SER/U_00031" BEL "SER/U_00032" BEL "SER/U_00033" BEL "SER/U_00034"
        BEL "SER/U_00035" BEL "SER/U_00036" BEL "SER/U_00037" BEL
        "SER/U_00038" BEL "SER/U_00039" BEL "SER/U_00040" BEL "SER/U_00041"
        BEL "SER/U_00042" BEL "SER/U_00043" BEL "SER/U_00044" BEL
        "SER/U_00045" BEL "SER/U_00046" BEL "SER/U_00047" BEL "SER/U_00048"
        BEL "SER/U_00049" BEL "SER/U_00050" BEL "SER/U_00051" BEL
        "SER/U_00060" BEL "SER/U_00061" BEL "SER/U_00062" BEL "SER/U_00063"
        BEL "SER/U_00064" BEL "SER/U_00065" BEL "SER/U_00066" BEL
        "SER/U_00067" BEL "SER/U_00068" BEL "SER/U_00069" BEL "SER/U_00070"
        BEL "SER/U_00071" BEL "SER/U_00072" BEL "SER/U_00073" BEL
        "SER/U_00074" BEL "SER/U_00075" BEL "SER/U_00076" BEL "SER/U_00077"
        BEL "SER/U_00078" BEL "SER/U_00079" BEL "SER/U_00080" BEL
        "SER/U_00081" BEL "SER/U_00082" BEL "SER/U_00083" BEL "SER/U_00084"
        BEL "SER/U_00085" BEL "SER/U_00086" BEL "SER/U_00087" BEL
        "SER/U_00088" BEL "SER/U_00089" BEL "SER/U_00090" BEL "SER/U_00091"
        BEL "SER/U_00092" BEL "SER/U_00093" BEL "SER/U_00094" BEL
        "SER/U_00095" BEL "SER/U_00096" BEL "SER/U_00097" BEL "SER/U_00098"
        BEL "SER/U_00099" BEL "SER/U_00100" BEL "SER/U_00101" BEL
        "SER/U_00102" BEL "SER/U_00103" BEL "SER/U_00104" BEL "SER/U_00105"
        BEL "SER/U_00106" BEL "SER/U_00107" BEL "SER/U_00108" BEL
        "SER/U_00109" BEL "SER/U_00110" BEL "SER/U_00111" BEL "SER/U_00112"
        BEL "SER/U_00113" BEL "SER/U_00114" BEL "SER/U_00115" BEL
        "SER/U_00116" BEL "SER/U_00117" BEL "SER/U_00118" BEL "SER/U_00119"
        BEL "SER/U_00120" BEL "SER/U_00121" BEL "SER/U_00122" BEL
        "SER/U_00123" BEL "SER/U_00124" BEL "SER/U_00186" BEL "SER/U_00187"
        BEL "SER/U_00188" BEL "SER/U_00189" BEL "SER/U_00190" BEL
        "SER/U_00191" BEL "SER/U_00192" BEL "SER/U_00193" BEL "SER/U_00194"
        BEL "SER/U_00195" BEL "SER/U_00196" BEL "SER/U_00197" BEL
        "SER/U_00198" BEL "SER/U_00199" BEL "SER/U_00200" BEL "SER/U_00201"
        BEL "SER/U_00202" BEL "SER/U_00203" BEL "SER/U_00204" BEL
        "SER/U_00205" BEL "SER/U_00206" BEL "SER/U_00207" BEL "SER/U_00208"
        BEL "SER/U_00209" BEL "SER/U_00210" BEL "SER/U_00211" BEL
        "SER/U_00212" BEL "SER/U_00213" BEL "SER/U_00214" BEL "SER/U_00215"
        BEL "SER/U_00216" BEL "SER/U_00217" BEL "SER/U_00218" BEL
        "SER/U_00219" BEL "SER/U_00220" BEL "SER/U_00221" BEL "SER/U_00222"
        BEL "SER/U_00223" BEL "SER/U_00224" BEL "SER/U_00225" BEL
        "SER/U_00226" BEL "SER/U_00227" BEL "SER/U_00228" BEL "SER/U_00229"
        BEL "SER/U_00230" BEL "SER/U_00231" BEL "SER/U_00232" BEL
        "SER/U_00233" BEL "SER/U_00295" BEL "SER/U_00296" BEL "SER/U_00297"
        BEL "SER/U_00298" BEL "SER/U_00299" BEL "SER/U_00300" BEL
        "SER/U_00301" BEL "SER/U_00302" BEL "SER/U_00303" BEL "SER/U_00304"
        BEL "SER/U_00305" BEL "SER/U_00306" BEL "SER/U_00307" BEL
        "SER/U_00308" BEL "SER/U_00309" BEL "SER/U_00310" BEL "SER/U_00311"
        BEL "SER/U_00312" BEL "SER/U_00313" BEL "SER/U_00314" BEL
        "SER/U_00315" BEL "SER/U_00316" BEL "SER/U_00317" BEL "SER/U_00318"
        BEL "SER/U_00319" BEL "SER/U_00320" BEL "SER/U_00321" BEL
        "SER/U_00322" BEL "SER/U_00323" BEL "SER/U_00324" BEL "SER/U_00325"
        BEL "SER/U_00326" BEL "SER/U_00327" BEL "SER/U_00389" BEL
        "SER/U_00390" BEL "SER/U_00391" BEL "SER/U_00392" BEL "SER/U_00393"
        BEL "SER/U_00394" BEL "SER/U_00395" BEL "SER/U_00396" BEL
        "SER/U_00397" BEL "SER/U_00398" BEL "SER/U_00399" BEL "SER/U_00400"
        BEL "SER/U_00401" BEL "SER/U_00402" BEL "SER/U_00403" BEL
        "SER/U_00404" BEL "SER/U_00405" BEL "SER/U_00406" BEL "SER/U_00407"
        BEL "SER/U_00408" BEL "SER/U_00409" BEL "SER/U_00410" BEL
        "SER/U_00411" BEL "SER/U_00412" BEL "SER/U_00413" BEL "SER/U_00414"
        BEL "SER/U_00415" BEL "SER/U_00416" BEL "SER/U_00417" BEL
        "SER/U_00418" BEL "SER/U_00419" BEL "SER/U_00420" BEL "SER/U_00421"
        BEL "SER/U_00422" BEL "SER/U_00423" BEL "SER/U_00424" BEL
        "SER/U_00425" BEL "SER/U_00426" BEL "SER/U_00427" BEL "SER/U_00428"
        BEL "SER/U_00429" BEL "SER/U_00430" BEL "SER/U_00431" BEL
        "SER/U_00432" BEL "SER/U_00433" BEL "SER/U_00434" BEL "SER/U_00435"
        BEL "SER/U_00436" BEL "SER/U_00437" BEL "SER/U_00438" BEL
        "SER/U_00439" BEL "SER/U_00440" BEL "SER/U_00441" BEL "SER/U_00442"
        BEL "SER/U_00443" BEL "SER/U_00444" BEL "SER/U_00445" BEL
        "SER/U_00446" BEL "SER/U_00447" BEL "SER/U_00448" BEL "SER/U_00449"
        BEL "SER/U_00450" BEL "SER/U_00451" BEL "SER/U_00452" BEL
        "SER/U_00453" BEL "SER/U_00454" BEL "SER/U_00455" BEL "SER/U_00456"
        BEL "SER/U_00457" BEL "SER/U_00458" BEL "SER/U_00459" BEL
        "SER/U_00460" BEL "SER/U_00461" BEL "SER/U_00462" BEL "SER/U_00463"
        BEL "SER/U_00464" BEL "SER/U_00465" BEL "SER/U_00466" BEL
        "SER/U_00467" BEL "SER/U_00468" BEL "SER/U_00469" BEL "SER/U_00470"
        BEL "SER/U_00471" BEL "SER/U_00472" BEL "SER/U_00473" BEL
        "SER/U_00474" BEL "SER/U_00475" BEL "SER/U_00476" BEL "SER/U_00477"
        BEL "SER/U_00478" BEL "SER/U_00479" BEL "SER/U_00480" BEL
        "SER/U_00481" BEL "SER/U_00482" BEL "SER/U_00483" BEL "SER/U_00484"
        BEL "SER/U_00485" BEL "SER/U_00486" BEL "SER/U_00487" BEL
        "SER/U_00488" BEL "SER/U_00489" BEL "SER/U_00490" BEL "SER/U_00491"
        BEL "SER/U_00492" BEL "SER/U_00493" BEL "SER/U_00494" BEL
        "SER/U_00495" BEL "SER/U_00496" BEL "SER/U_00497" BEL "SER/U_00498"
        BEL "SER/U_00499" BEL "SER/U_00500" BEL "SER/U_00501" BEL
        "SER/U_00502" BEL "SER/U_00503" BEL "SER/U_00504" BEL "SER/U_00505"
        BEL "SER/U_00506" BEL "SER/U_00507" BEL "SER/U_00508" BEL
        "SER/U_00509" BEL "SER/U_00510" BEL "SER/U_00511" BEL "SER/U_00512"
        BEL "SER/U_00513" BEL "SER/U_00514" BEL "SER/U_00515" BEL
        "SER/U_00516" BEL "SER/U_00517" BEL "SER/U_00518" BEL "SER/U_00519"
        BEL "SER/U_00520" BEL "SER/U_00521" BEL "SER/U_00522" BEL
        "SER/U_00523" BEL "SER/U_00524" BEL "SER/U_00525" BEL "SER/U_00526"
        BEL "SER/U_00527" BEL "SER/U_00528" BEL "SER/U_00529" BEL
        "SER/U_00530" BEL "SER/U_00531" BEL "SER/U_00532" BEL "SER/U_00533"
        BEL "SER/U_00534" BEL "SER/U_00535" BEL "SER/U_00865" BEL
        "SER/U_00864";
TS_CLK = PERIOD TIMEGRP "CLK" 10 ns HIGH 50%;
SCHEMATIC END;

